.content {
    height: 2339px;
    width: 1654px;
    background: #c1cbff;
}

.box-1{
    background: red;
    height: 7%;
}

.box-2{
    background: blue;
    height: 3%;
}

.box-3{
    background: yellow;
    height: 50%;

}

.box-4{
    background:green;
    height: 10%;
}

.box-5{
    background: darkorchid;
    height: 50%;
}

.box-6{
    background: brown;
    height: 20%;
}

.bg-9 {
    background: black;
}

.bg-10 {
    background: cyan;
}


